@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

:root {
  --main-color: rgb(6, 86, 102);
  --dark-main-color: rgb(6, 40, 51);
  --border-color: rgb(188, 188, 188);
  --font-color: #333333;
  --font-color-bright: rgb(212, 212, 212);
  --font-color-bright-sub: #bbbbbb;
  --hover: rgb(0, 192, 154);
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  width:100%;
  overflow-x:hidden;
}

.detail-line{
    display: flex;
    justify-content: center; /* 선의 가운데 정렬 */
     width: 100%; /* 부모 요소의 너비에 맞게 설정 */
    width: 50px;
    border: 1px solid var(--border-color);
    margin: auto;
}


.detail-title{
display: flex;
font-size: 30px;
justify-content: left;
margin: auto;
margin-top: 60px;
width: 800px;
}

.detail-date{
  display: flex;
  justify-content: left;
  margin: auto;
  margin-top: 20px;
  width: 800px;
}

.detail-content{
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 800px;
  justify-content: left;
  margin-bottom: 100px;
}

.detail-update{
  background-color: var(--main-color);
  border: 1px solid;
  border-color: var(--border-color);
  color: rgb(255, 255, 255);
  font-weight: 590;
  padding: 8px 20px;
  cursor: pointer;
  line-height: 20px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.detail-delete{
  background-color: var(--font-color-bright);
  border: 1px solid;
  border-color: var(--border-color);
  color: var(--font-color);
  font-weight: 590;
  padding: 8px 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
}

.detail-btn-container{
  display: flex;
  justify-content: center;
  width: 800px;
  margin: auto;
}