@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

* {
  --border: 1px soild rgb(188, 188, 188);
  --color: #333333;
  font-family: 'Nanum Gothic', sans-serif;
}


.App {
 
}

.nav {
  background-color: rgb(6, 40, 51);
  color: white;
  padding-left: 20px;
  display: flex;
}

.div{
  box-sizing: border-box;
}

.list{
  
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid rgb(188, 188, 188);
  margin-left: 21%;
  margin-right: 21%;
  
}

@media (max-width: 768px) {
  .list {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.btn-container{
 display: flex;
 text-align: center;
 justify-content: center;
 font-size: 14px;
 margin-bottom: 50px;
}
.arr-Btn{
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(188, 188, 188);
  color: var(--color);
  font-weight: 600;
  border-radius: 5px;
  margin-top: 20px;
}

.array-select-btn {
  position: absolute;
  border: 1px solid  rgb(188, 188, 188);
  width: 152px;
  height: 207px;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(220, 220, 220);
  margin-top: -36px;
  margin-left: 50%;
  border-radius: 5px;
  justify-content: center;
}

.array-select-btn p {
  border-bottom: 1px solid  rgb(188, 188, 188);
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
  font-weight: 600;
  color: var(--color)
}

.array-select-btn p:hover {
  color: rgb(0, 192, 154);
}

.write-Btn {
  padding: 8px;
  background-color: rgb(6, 86, 102);
  border: 1px solid rgb(188, 188, 188);
  color: rgb(255, 255, 255);
  font-weight: 590;
  border-radius: 5px;
  margin-top: 20px;
}

.show-list{
  background-image: url(../img/bg17.jfif);
  object-fit: scale-down;
  background-size: 850px 150px;
  vertical-align: middle;
  text-align: left;
  margin: 20px auto;
  width: 755.43px;
  height: 100px;
  font-size: 20px;
  font-weight: 510;
  color: rgb(212, 212, 212);
  background-color: bisque;
  border-radius: 10px;
  padding: 40px 25px 8px 30px;
}

@media (max-width: 480px) {
  .show-list {
    font-size: 16px;
  }
}

.show-list-sub{
  font-size: 14px;
  font-weight: 100;
  color: #bbbbbb;
}
